@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --shadow-box-shadow-first: 0px 1px 0px var(--shadow-color);
  --color-button-border-color: var(--border-color);
  --color-hover-background: var(--hover-background);
  --color-active-background: var(--active-background);
}

@layer base {
  :root {
    --background-color: linear-gradient(to bottom, #eff6ff, #ffffff);
    --shadow-color: rgba(55, 53, 47, 0.09);
    --border-color: rgba(218, 218, 218, 0.856);
    --hover-background: rgba(238, 238, 238, 0.911);
    --active-background: rgba(55, 53, 47, 0.16);
    --primary: white;
    --primary-dark: rgb(21,93,252);
    --primary-light: rgb(49, 113, 250);
    --secondary: #8b5cf6;
    --accent: #ec4899;
    --background: #ffffff;
    --foreground: #111827;
    --muted: rgba(90, 90, 90, 0.911);
    --muted-foreground: #6b7280;
    --border: #b6b6b6;
    --input: #e5e7eb;
    --card: #ffffff;
    --card-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --success: #22c55e;
    --success-foreground: #ffffff;
    --warning: #f59e0b;
    --warning-foreground: #ffffff;
    --ring: rgba(52, 116, 255, 0.767);
    
  }
  .dark {
    --background-color: rgb(8, 9, 17);
    --shadow-color: rgba(134, 134, 134, 0.094);
    --border-color: rgba(255, 255, 255, 0.094);
    --hover-background: rgba(255, 255, 255, 0.055);
    --active-background: rgba(255, 255, 255, 0.03);
    --primary: dark;
    --primary-dark: rgb(21,93,252);
    --primary-light: rgb(49, 113, 250);
    --secondary: #8b5cf6;
    --accent: #ec4899;
    --background: #ffffff;
    --foreground: #ececec;
    --muted: rgba(90, 90, 90, 0.911);
    --muted-foreground: #6b7280;
    --border: #b6b6b6;
    --input: #e5e7eb;
    --card: #ffffff;
    --card-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --success: #22c55e;
    --success-foreground: #ffffff;
    --warning: #f59e0b;
    --warning-foreground: #ffffff;
    --ring: rgba(52, 116, 255, 0.767);
  }

}
